<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.mule.tooling.core.contribution">
      <externalContribution
            contributionJar="mule-module-apikit.jar"
            contributionLibPathInMule="/plugins"
            contributionLibs="mule-module-apikit-plugin.zip"
            contributionNamespace="http://www.mulesoft.org/schema/mule/apikit"
            contributionNamespaceFile="http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd"
            contributionNamespacePrefix="apikit"
            contributionType="cloud-connector"
            icon="icons/small/flow-24x16.png"
            minimumVersion="3.4.0"
            name="Apikit"
            path="apikit.xml"
            version="1.0">
      </externalContribution>
   </extension>
   <extension
         point="org.mule.tooling.muleExamples">
      <muleExample
            description="This is an APIKit project example."
            path="examples/apikit-leagues.zip"
            name="ApiKit Project Example">
         <targetServer
               serverVersion="3.5.*">
         </targetServer>
         <targetServer
               serverVersion="3.4.*">
         </targetServer>
      </muleExample>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
	  <category
            name="%NewWizards.Category.Basic"
            id="org.eclipse.ui.Basic">
      </category>
      <wizard
            canFinishEarly="false"
            class="org.mule.tooling.apikit.wizard.NewAPIKitProjectWizard"
            category="org.eclipse.ui.Basic"
            icon="icons/small/newAPIKitProject-16x16.png"
            id="org.mule.tooling.apikit.wizard.ApikitProject"
            name="APIkit Project"
            project="true">
      </wizard>
   </extension>
   <extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension targetID="*">
			<newWizardShortcut id="org.mule.tooling.apikit.wizard.ApikitProject">
			</newWizardShortcut>
		</perspectiveExtension>
	</extension>
	<extension
         point="org.mule.tooling.projectStructure">
      <projectStructure
            description="This is the extension used to add the &quot;api&quot; folder to the project structure."
            folderPath="src/main/api"
            id="org.raml.projectStructure"
            isSourceFolder="true"
            name="Structure Project Extension"
            addToMuleRuntime="false"
            wizardId="org.mule.tooling.apikit.wizard.ApikitProject">
         <fileType
               extension="yaml">
         </fileType>
      </projectStructure>
   </extension>
</plugin>
