<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.mule.tooling.core.contribution">
      <externalContribution
            contributionJar="mule-module-apikit.jar"
            contributionLibPathInMule="/plugins"
            contributionLibs="mule-module-apikit-plugin.zip"
            contributionNamespace="http://www.mulesoft.org/schema/mule/apikit"
            contributionNamespaceFile="http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd"
            contributionNamespacePrefix="apikit"
            contributionType="cloud-connector"
            icon="icons/small/flow-24x16.png"
            minimumVersion="3.5.0"
            name="Apikit"
            path="apikit.xml"
            version="1.0">
      </externalContribution>
   </extension>
</plugin>
