<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.mule.tooling.core.contribution">
      <externalContribution
            contributionJar="mule-module-apikit.jar"
            contributionLibPathInMule="/plugins"
            contributionLibs="mule-module-apikit-plugin.zip"
            contributionNamespace="http://www.mulesoft.org/schema/mule/apikit"
            contributionNamespaceFile="http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd"
            contributionNamespacePrefix="apikit"
            contributionType="cloud-connector"
            icon="icons/small/flow-24x16.png"
            minimumVersion="3.4.0"
            name="Apikit"
            path="apikit.xml"
            version="1.0">
      </externalContribution>
   </extension>
   <extension
         point="org.mule.tooling.muleExamples">
      <muleExample
            description="Illustrates a fully-implemented REST API with RAML interface and Mule backend."
            path="examples/apikit-example.zip"
            name="REST API with APIkit">
         <targetServer
               serverVersion="3.5.*">
         </targetServer>
         <targetServer
               serverVersion="3.4.*">
         </targetServer>
      </muleExample>
   </extension>
	<extension
         point="org.mule.tooling.projectStructure">
      <projectStructure
            description="This is the extension used to add the &quot;api&quot; folder to the project structure."
            folderPath="src/main/api"
            id="org.mule.tooling.apikit.ProjectStructure"
            isSourceFolder="true"
            name="Structure Project Extension"
            addToMuleRuntime="false"
            wizardId="org.mule.tooling.apikit.wizard.ApikitProject">
         <fileType
               extension="yaml">
         </fileType>
      </projectStructure>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
	  <category
            name="APIkit Command Category"
            id="org.mule.tooling.apikit.ui.commands.category">
      </category>
      <command
            name="Generate Flows Command"
            categoryId="org.mule.tooling.apikit.ui.commands.category"
            id="org.mule.tooling.apikit.ui.commands.generateflows">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.mule.tooling.apikit.ui.commands.generateflows"
            class="org.mule.tooling.apikit.handlers.GenerateFlowsHandler">
      </handler>
   </extension>
   <extension point="org.eclipse.ui.menus">
   		<menuContribution locationURI="popup:org.eclipse.ui.popup.any?after=additions">
            <command
                label="Generate Flows"
                commandId="org.mule.tooling.apikit.ui.commands.generateflows"
                icon="icons/small/scaffolder.jpg">
               	<visibleWhen>
					<with variable="selection">
			   		    <iterate operator="and" ifEmpty="false">
			      			<adapt type="org.eclipse.core.resources.IFile">
			      			</adapt>
			   		    </iterate>
					</with>
        		</visibleWhen>
            </command>
        </menuContribution>
   </extension>
   <extension
         point="org.mule.tooling.ui.wizardpagepart">
         <wizardpagepart
               class="org.mule.tooling.apikit.wizard.CreateAPIkitWizardPagePartExtension">
         </wizardpagepart>
   </extension>
   <extension
         point="org.mule.tooling.core.postImportActions">
         <postImportAction
            class="org.mule.tooling.apikit.action.EnableApikitSupportAction"
            startLevel="11">
      </postImportAction>
   </extension>
</plugin>
