**/bin/
.metadata
.DS_STORE
**/target/
org.mule.tooling.apikit/lib/*jar
org.mule.tooling.apikit.feature/lib/*jar
org.mule.tooling.apikit/*jar
org.mule.tooling.apikit.deps/lib/*jar
org.mule.tooling.apikit.test/lib/*jar
org.mule.tooling.apikit.test/screenshots/*
**/__contributionDependenciesLibs__
