<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd       http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <apikit:config name="router-config" raml="sanity-test/api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <http:listener-config name="httpListenerConfigDefault">
        <http:listener-connection host="0.0.0.0" port="8084" />
    </http:listener-config>
    <flow name="main-api">
        <http:listener config-ref="httpListenerConfigDefault" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="router-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <set-variable variableName="outboundHeaders" value="#[{'Content-Type':'application/json'}]" />
                <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" />
                <set-variable variableName="httpStatus" value="400" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <set-variable variableName="outboundHeaders" value="#[{'Content-Type':'application/json'}]" />
                <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" />
                <set-variable variableName="httpStatus" value="404" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <set-variable variableName="outboundHeaders" value="#[{'Content-Type':'application/json'}]" />
                <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" />
                <set-variable variableName="httpStatus" value="405" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <set-variable variableName="outboundHeaders" value="#[{'Content-Type':'application/json'}]" />
                <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" />
                <set-variable variableName="httpStatus" value="406" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <set-variable variableName="outboundHeaders" value="#[{'Content-Type':'application/json'}]" />
                <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" />
                <set-variable variableName="httpStatus" value="415" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <set-variable variableName="outboundHeaders" value="#[{'Content-Type':'application/json'}]" />
                <set-payload value="{ &quot;message&quot;: &quot;Not implemented&quot; }" />
                <set-variable variableName="httpStatus" value="501" />
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="main-console">
        <http:listener config-ref="httpListenerConfigDefault" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="router-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <set-variable variableName="outboundHeaders" value="#[{'Content-Type':'application/json'}]" />
                <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" />
                <set-variable variableName="httpStatus" value="404" />
            </on-error-propagate>
        </error-handler>
    </flow>

    <flow name="put:\clients\(clientId):router-config">
        <logger level="INFO" message="put:\clients\(clientId):router-config" />
    </flow>
    <flow name="put:\invoices\(invoiceId):router-config">
        <logger level="INFO" message="put:\invoices\(invoiceId):router-config" />
    </flow>
    <flow name="put:\items\(itemId):application\x-www-form-urlencoded:router-config">
        <logger level="INFO" message="put:\items\(itemId):application\x-www-form-urlencoded:router-config" />
    </flow>
    <flow name="put:\providers\(providerId):router-config">
        <logger level="INFO" message="put:\providers\(providerId):router-config" />
    </flow>
    <flow name="delete:\clients\(clientId):router-config">
        <logger level="INFO" message="delete:\clients\(clientId):router-config" />
    </flow>
    <flow name="delete:\invoices\(invoiceId):router-config">
        <logger level="INFO" message="delete:\invoices\(invoiceId):router-config" />
    </flow>
    <flow name="delete:\items\(itemId):multipart\form-data:router-config">
        <logger level="INFO" message="delete:\items\(itemId):multipart\form-data:router-config" />
    </flow>
    <flow name="delete:\providers\(providerId):router-config">
        <logger level="INFO" message="delete:\providers\(providerId):router-config" />
    </flow>
    <flow name="get:\clients\(clientId):router-config">
        <logger level="INFO" message="get:\clients\(clientId):router-config" />
    </flow>
    <flow name="get:\clients:router-config">
        <logger level="INFO" message="get:\clients:router-config" />
    </flow>
    <flow name="get:\invoices\(invoiceId):router-config">
        <logger level="INFO" message="get:\invoices\(invoiceId):router-config" />
    </flow>
    <flow name="get:\invoices:router-config">
        <logger level="INFO" message="get:\invoices:router-config" />
    </flow>
    <flow name="get:\items\(itemId):router-config">
        <logger level="INFO" message="get:\items\(itemId):router-config" />
    </flow>
    <flow name="get:\items:router-config">
        <logger level="INFO" message="get:\items:router-config" />
    </flow>
    <flow name="get:\providers\(providerId):router-config">
        <logger level="INFO" message="get:\providers\(providerId):router-config" />
    </flow>
    <flow name="get:\providers:router-config">
        <logger level="INFO" message="get:\providers:router-config" />
    </flow>
    <flow name="post:\clients:router-config">
        <logger level="INFO" message="post:\clients:router-config" />
    </flow>
    <flow name="post:\invoices:router-config">
        <logger level="INFO" message="post:\invoices:router-config" />
    </flow>
    <flow name="post:\items:application\json:router-config">
        <logger level="INFO" message="post:\items:application\json:router-config" />
    </flow>
    <flow name="post:\providers:router-config">
        <logger level="INFO" message="post:\providers:router-config" />
    </flow>

</mule>
