swagger: "2.0"
#OAS that when you convert to RAML shows warnings and errors
info:
  description: "Esta documentação é referente a Web Service do Protheus, que é direcionado para a loja virtual SD Make-UP."
  version: "1.0.0"
  title: "Protheus (Web Service)"
host: "protheus.gsd.com.br:8085"
basePath: "/rest"
tags:
- name: "users"
  description: "Exibe dados sobre o usuário."
- name: "products"
  description: "Exibe listagem de produtos que estão disponíveis para o usuário."
- name: "payment_methods"
  description: "Exibe métodos disponíveis para a unidade."
- name: "orders"
  description: "Lista de pedidos da unidade."
schemes:
- "http"
paths:
  /store_users/{email}:
    get:
      tags:
      - "users"
      summary: "Exibe dados sobre o usuário."
      produces:
      - "application/json"
      parameters:
      - name: "email"
        in: "path"
        description: "Email da unidade"
        required: true
        type: "string"
        format: "email"
        x-example: "fortaleza.center1@gsd.com.br"

      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/Profile"
          examples:
            application/json:
              name: "ZONA SUL"
              cnpj: "17918883000116"
              state: "CE"
              city: "FORTALEZA"
              zipcode: "60822070"
              country: "Brasil"
              address: "RUA WALTER DE CASTRO, 558"
              phone: "85 30776177"
              IsBlocked: false
              blockReason: "Inadimplência"
              email: "FORTALEZA.SUL@GSD.COM.BR"
              enterpriseId: "3621639d-93e1-4692-86d9-a47406f77f"
              canBuy: true
        400:
          description: "Solicitação inválida"
          schema:
            $ref: "#/definitions/400"
        404:
          description: "Não encontrado"
          schema:
            $ref: "#/definitions/404"
  /store_products:
    get:
      tags:
      - "products"
      summary: "Exibe lista de produtos disponíveis para compra do usuário."
      produces:
      - "application/json"
      parameters:
      - name: "enterpriseId"
        in: "header"
        description: "EnterpriseId da unidade"
        required: true
        type: "string"
        x-example: "c30d96a7-bd74-8c6e-7e40-49c4a51ea938"
      - name: "page"
        in: "query"
        description: "Página que será exibida."
        required: false
        type: "integer"
        default: 1
      - name: "per_page"
        in: "query"
        description: "Quantidades de itens que deverá ser exibido por página."
        required: false
        type: "integer"
        default: 25
      responses:
        200:
          description: "OK"
          schema:
            type: "object"
            properties:
              data:
                type: "array"
                items:
                  $ref: "#/definitions/Estrutura"
              total:
                type: "integer"
                example: 5
          examples:
            application/json:
              data:
                code: "PA13030084"
                name: "LAPIS ILUMINADOR DUPLO PERFECT MATCH"
                minPrice: "2500"
                paymentMethod: "F06"
                isPromotional: false
                isNew: false
                isCustomizable: false
                category: "MAKE-UP"
                thumbnail: "http://via.placeholder.com/600"
                package:
                  height: 12
                  width: 24
                  length: 24
                  weight: 1
                  packages: 1
                  items:
                    code: "PA13030084"
                    name: "Lápis Let It Shine"
                    thumbnail: "http://via.placeholder.com/600"
                    isNew: false
                    originalPrice: "2.500"
                    salePrice: "2.500"
                    minQuantity: "2"
                    maxQuantity: "999"
                    isCustomizable: true
                    defaultQuantity: 5
                total: 5
        400:
          description: "Solicitação inválida"
          schema:
            $ref: "#/definitions/400"
        404:
          description: "Não encontrado"
          schema:
            $ref: "#/definitions/404"
  /store_payment_methods:
    get:
      tags:
      - "payment_methods"
      summary: "Exibe lista de produtos disponíveis para compra do usuário."
      produces:
      - "application/json"
      parameters:
      - name: "enterpriseId"
        in: "header"
        description: "EnterpriseId da unidade"
        required: true
        type: "string"
        x-example: "c30d96a7-bd74-8c6e-7e40-49c4a51ea938"
      responses:
        200:
          description: "OK"
          schema:
            type: "object"
            properties:
              data:
                type: "array"
                items:
                  $ref: "#/definitions/PaymentMethod"
        400:
          description: "Solicitação inválida"
          schema:
            $ref: "#/definitions/400"
        404:
          description: "Não encontrado"
          schema:
            $ref: "#/definitions/404"
  /store_orders:
    get:
      tags:
      - "orders"
      summary: "Exibe lista de pedidos de um determinado usuário."
      produces:
      - "application/json"
      parameters:
      - name: "enterpriseId"
        in: "header"
        description: "EnterpriseId da unidade"
        required: true
        type: "string"
        x-example: "c30d96a7-bd74-8c6e-7e40-49c4a51ea938"
      - name: "page"
        in: "query"
        description: "Página que será exibida."
        required: false
        type: "integer"
        default: 1
      - name: "per_page"
        in: "query"
        description: "Quantidades de itens que deverá ser exibido por página."
        required: false
        type: "integer"
        default: 25
      responses:
        200:
          description: "OK"
          schema:
            type: "object"
            properties:
              data:
                type: "array"
                items:
                  $ref: "#/definitions/OrderResumed"
        400:
          description: "OK"
          schema:
            type: "object"
            properties:
              data:
                type: "array"
                items:
                  $ref: "#/definitions/OrderResumed"
    post:
      tags:
      - "orders"
      summary: "Cria um novo pedido"
      description: ""
      parameters:
      - name: "enterpriseId"
        in: "header"
        description: "EnterpriseId da unidade"
        required: true
        type: "string"
        x-example: "c30d96a7-bd74-8c6e-7e40-49c4a51ea938"
      - name: "Content-Type"
        in: "header"
        description: "Tipo de dado enviado"
        required: true
        type: "string"
        x-example: "application/json"
      - in: "body"
        name: "body"
        description: "Dados do pedidos que deverão ser enviados na geração de um pedido."
        required: true
        schema:
          $ref: '#/definitions/NewOrderPostData'
      responses:
        201:
          description: "Criado"
          schema:
            $ref: '#/definitions/NewOrderPostDataResponse'
        400:
          description: "Solicitação inválida"
          schema:
            $ref: "#/definitions/400"
        404:
          description: "Não encontrado"
          schema:
            $ref: "#/definitions/404"
  /store_orders/{orderId}:
    get:
      tags:
      - "orders"
      summary: "Exibe lista de pedidos de um determinado usuário."
      produces:
      - "application/json"
      parameters:
      - name: "orderId"
        in: "path"
        description: "Número do pedido"
        required: true
        type: "integer"
        x-example: 20978
      - name: "enterpriseId"
        in: "header"
        description: "EnterpriseId da unidade"
        required: true
        type: "string"
        x-example: "c30d96a7-bd74-8c6e-7e40-49c4a51ea938"
      responses:
        200:
          description: "OK"
          schema:
            type: "object"
            properties:
              id:
                type: "integer"
                example: 20978
              status:
                type: "integer"
                example: 0
              paymentMethod:
                type: "integer"
                example: 32
              createdAt:
                type: "string"
                format: "date-time"
                example: "2018-01-01 10:53:34"
              products:
                type: "array"
                items:
                  $ref: '#/definitions/EstruturaResumed'
              shipping:
                $ref: '#/definitions/Shipping'
              boletos:
                type: "array"
                items:
                  $ref: '#/definitions/Boleto'
        400:
          description: "Solicitação inválida"
          schema:
            $ref: "#/definitions/400"
        404:
          description: "Não encontrado"
          schema:
            $ref: "#/definitions/404"
definitions:
  Profile:
    type: "object"
    properties:
      name:
        description: "Nome da unidade"
        type: "string"
        format: "string"
        example: "ZONA SUL"
      cnpj:
        description: "Número do CNPJ da unidade"
        type: "string"
        format: "string"
        example: "17918883000116"
      state:
        description: "UF do endereço da unidade"
        type: "string"
        format: "string"
        example: "CE"
      city:
        description: "Cidade do endereço da unidade"
        type: "string"
        format: "string"
        example: "FORTALEZA"
      zipcode:
        description: "CEP do endereço da unidade"
        type: "string"
        format: "string"
        example: "60822070"
      country:
        description: "Paiz do endereço da unidade"
        type: "string"
        format: "string"
        example: "Brasil"
      address:
        description: "Endereço da unidade"
        type: "string"
        format: "string"
        example: "RUA WALTER DE CASTRO, 558"
      phone:
        description: "Telefone da unidade"
        type: "string"
        format: "string"
        example: "85 30776177"
      IsBlocked:
        description: "Informa se a unidade está bloqueada para realizar compra"
        type: "boolean"
        format: "boolean"
        default: false
      blockReason:
        description: "Informa o motivo pelo qual a unidade está bloqueada temporáriamente para compras"
        type: "string"
        format: "string"
        default: ""
        example: "Inadimplência"
      email:
        description: "Email de cadastro da unidade"
        type: "string"
        format: "email"
        example: "FORTALEZA.SUL@GSD.COM.BR"
      enterpriseId:
        description: "Enterprise ID cadastrado no Protheus"
        type: "string"
        format: "string"
        example: "3621639d-93e1-4692-86d9-a47406f77f"
      canBuy:
        description: "Informa se o usuário possui permissão de compra, deferente do IsBlocked, que informa se a unidade está bloqueado"
        type: "boolean"
        default: false
        example: true
  Product:
    description: "Detalhamento do cadastro produto do Protheus"
    properties:
      code:
        description: "Códido de cadastrado do produto no Protheus"
        type: "string"
        example: "PA13030084"
      name:
        type: "string"
        default: ""
        description: "Nome do produto cadastrado no Protheus"
        example: "Lápis Let It Shine"
      thumbnail:
        description: "Url da imagem do produto"
        type: "string"
        format: "uri"
        example: "http://via.placeholder.com/600"
      isNew:
        description: "Informa se o produto possui o parâmetro de novo no Protheus"
        type: "boolean"
        default: false
        example: false
      originalPrice:
        description: "Preço original do produto sem descontos"
        type: "number"
        format: "float"
        example: "2.500"
      salePrice:
        description: "Preço pelo qual o produto deve ser vendido"
        type: "number"
        format: "float"
        example: "2.500"
      minQuantity:
        description: "Quantidade mínima de produtos que deverão ser adicionados a estrutura"
        type: "integer"
        example: "2"
      maxQuantity:
        description: "Quantidade máxima de produtos que poderão ser adicionados a estrutura"
        type: "integer"
        example: "999"
      isCustomizable:
        description: "Informa se a quantidade do produto pode ser customizado na estrutura"
        type: "boolean"
        default: false
        example: true
      defaultQuantity:
        description: "Informa a quantidade inicial que o produto possui na estrutura"
        default: 1
        type: "integer"
        example: 5
  ProductResumed:
    description: "Informações resumidas do produto no Protheus"
    properties:
      code:
        description: "Códido de cadastrado do produto no Protheus"
        type: "string"
        example: "PA13030084"
      name:
        description: "Nome do produto cadastrado no Protheus"
        type: "string"
        example: "LAPIS ILUMINADOR DUPLO PERFECT MATCH"
      salePrice:
        description: "Preço pelo qual o produto foi vendido"
        type: "number"
        format: "float"
        example: 31
      type:
        description: "Informa o tipo do produto, se ele é um produto ou insumo"
        type: "string"
        enum:
        - "product"
        - "insumo"
        example: "product"
        default: "product"
      requireLabel:
        description: "Informa se o produto, deverá gerar uma etiqueta antes do envio"
        type: "boolean"
        example: true
        default: true
  Package:
    description: "Propriedades de um pacote da estrutura no Protheus"
    type: "object"
    properties:
      height:
        description: "Informa a altura do pacote"
        type: "number"
        format: "float"
        default: 0
      width:
        description: "Informa a largura do pacote"
        type: "string"
        default: 0
      length:
        description: "Informa o comprimento do pacote"
        type: "string"
        default: 0
      weight:
        description: "Informa o peso do pacote"
        type: "string"
        default: 0
      packages:
        description: "Informa o número de pacotes que a encomenda compõe"
        type: "integer"
        default: 1
  Estrutura:
    description: "Estrutura de produto no Protheus"
    type: "object"
    properties:
      code:
        description: "Códido de cadastrado da estrutura no Protheus"
        type: "string"
        example: "PA13030084"
      name:
        description: "Nome do produto cadastrado no Protheus"
        type: "string"
        example: "LAPIS ILUMINADOR DUPLO PERFECT MATCH"
      minPrice:
        description: "Preço mínimo de venda do produto"
        type: "number"
        format: "float"
        default: 0
        example: "2500"
      paymentMethod:
        description: "Código da forma de pagamento máxima da estrutura"
        type: "string"
        example: "F06"
      isPromotional:
        description: "Informa se o produto está alguma condição promocional"
        type: "boolean"
        example: false
      isNew:
        description: "Informa se o produto possui o parâmetro de novo no Protheus"
        type: "boolean"
        example: false
      isCustomizable:
        description: "Informa se os itens do produto pode ser customizados"
        type: "boolean"
        example: false
      category:
        description: "Informa a categoria que a estrutura possui o parâmetro de novo no Protheus"
        type: "string"
        example: "MAKE-UP"
      thumbnail:
        description: "Url da imagem da estrutura"
        type: "string"
        format: "uri"
        example: "http://via.placeholder.com/600"
      package:
        $ref: "#/definitions/Package"
      items:
        description: "Produtos que compõem a estrutura"
        type: "array"
        items:
          $ref: "#/definitions/Product"
  EstruturaResumed:
    description: "Product"
    type: "object"
    properties:
      code:
        description: "Códido de cadastrado da estrutura no Protheus"
        type: "string"
        example: "PA13030084"
      name:
        description: "Nome do produto cadastrado no Protheus"
        type: "string"
        example: "LAPIS ILUMINADOR DUPLO PERFECT MATCH"
      items:
        type: "array"
        items:
          $ref: "#/definitions/ProductResumed"
  PaymentMethod:
    description: "Método de pagamento."
    type: "object"
    properties:
      code:
        description: "Código da forma de pagamento"
        type: "string"
        example: "F06"
      description:
        description: "Descrição da forma de pagamento"
        type: "string"
        example: "A VISTA"
  OrderResumed:
    description: "Dados do pedido"
    type: "object"
    properties:
      id:
        description: "Id do pedido"
        type: "string"
        example: "16259"
      status:
        description: "Código do estado do pedido\n 0 : Criado\n1 : Boletos gerados\n2 : Pago\n3 : Enviado"
        type: "integer"
        enum:
        - 0
        - 1
        - 2
        - 3
        example: 0,
      totalValue:
        description: "Valor total do pedido"
        type: "number"
        format: "float"
        example: 1795
      paymentMethod:
        description: "Descrição da forma de pagamento"
        type: "string"
        example: "A VISTA"
      createdAt:
        description: "Data e hora da geração do pedido"
        type: "string"
        example: "2017-05-2017 16:51:00"
  Shipping:
    description: "Detalhamento de frete."
    type: "object"
    properties:
      type:
        description: "Descrição do frete selecionado"
        type: "string"
        example: "PAC"
      price:
        description: "Preço do frete gerado no pedido"
        type: "number"
        format: "float"
        example: "80.00"
      insurance:
        description: "Preço do seguro gerado no pedido"
        type: "integer"
        example: 0
      freightCompany:
        $ref: '#/definitions/FreightCompany'
      trackingCode:
        description: "Código de rastreio do pedido"
        type: "string"
        default: ""
        example: "DY000000000BR"
      address:
        description: "Endereço da unidade"
        type: "string"
        example: "Rua Walter de Castro 558, Cidade dos Funcionários"
      zipCode:
        description: "CEP do endereço da unidade"
        type: "string"
        example: "60822070"
      city:
        description: "Cidade do endereço da unidade"
        type: "string"
        example: "Fortaleza"
      state:
        description: "UF do endereço da unidade"
        type: "string"
        example: "CE"
      country:
        description: "Paiz do endereço da unidade"
        type: "string"
        example: "BR"
  FreightCompany:
    description: "Empresa de Transporte"
    type: "object"
    properties:
      code:
        description: "Código da transportadora no Protheus"
        type: "string"
        example: "01"
      name:
        description: "Nome completo da empresa de transporte"
        type: "string"
        example: "EMPRESA BRASILEIRA DE CORREIOS E TELEGR"
      shortName:
        description: "Nome reduzido da empresa de transporte"
        type: "string"
        example: "CORREIOS"
  Boleto:
    description: "Boleto para pagamento"
    type: "object"
    properties:
      sequential:
        description: "Número sequêncial do boleto"
        type: "integer"
        example: 1
      value:
        description: "Valor do boleto"
        type: "number"
        format: "float"
        example: 1652.93
      link:
        description: "Número sequêncial do boleto"
        type: "string"
        format: "uri"
        example: "HTTP://216.144.247.110:8094/spool/boletos/04100000692302.pdf"
      due:
        description: "Data de vencimento do boleto"
        type: "string"
        format: "date"
        example: "2018-01-15"
      paidAt:
        description: "Data de pagamento do boleto"
        type: "string"
        format: "date"
        default: ""
        example: "2018-01-15"
      generatedAt:
        description: "Data de geração do boleto"
        type: "string"
        format: "date"
        example: "2018-01-15"
  NewOrderPostData:
    description: "Formulário para geração de um novo pedido"
    type: "object"
    properties:
      paymentMethod:
        description: "Código da forma de pagamento selecionada no pedido"
        type: "string"
        example: "F06"
      shippingCompany:
        description: "Código do frete selecionado"
        type: "string"
        example: "01"
      shippingValue:
        description: "Valor do frete selecionado no pedido"
        type: "number"
        format: "float"
        example: 69.45
      insuranceValue:
        description: "Valor do seguro gerado para o pedido"
        type: "number"
        format: "float"
        example: 5.64
      products:
        description: "Lista dos produtos presentes no pedido"
        type: "array"
        items:
          $ref: '#/definitions/ProductOrder'
  NewOrderPostDataResponse:
    description: "Formulário para geração de um novo pedido"
    type: "object"
    properties:
      id:
        description: "Código do pedido gerado no Protheus"
        type: "integer"
        example: "1409"
      paymentMethod:
        description: "Código da forma de pagamento selecionada no pedido"
        type: "string"
        example: "F06"
      shippingCompany:
        description: "Código do frete selecionado"
        type: "string"
        example: "01"
      shippingValue:
        description: "Valor do frete selecionado no pedido"
        type: "number"
        format: "float"
        example: 69.45
      insuranceValue:
        description: "Valor do seguro gerado para o pedido"
        type: "number"
        format: "float"
        example: 5.64
      products:
        description: "Lista dos produtos presentes no pedido"
        type: "array"
        items:
          $ref: '#/definitions/ProductOrder'
  ProductOrder:
    type: "object"
    properties:
      code:
        description: "Códido de cadastrado da estrutura no Protheus"
        type: "string"
        example: "PA13010010"
      items:
        type: "array"
        items:
          type: "object"
          properties:
            code:
              description: "Códido de cadastrado do produto no Protheus"
              type: "string"
              example: "PA13030084"
            name:
              description: "Nome do produto cadastrado no Protheus"
              type: "string"
              example: "LAPIS ILUMINADOR DUPLO PERFECT MATCH"
            quantity:
              description: "Quantidade de produtos selecionados"
              type: "integer"
              example: 1
  400:
    type: "object"
    properties:
      errorCode:
        description: "Código HTTP de retorno."
        type: "integer"
        example: 400
      errorMessage:
        description: "Mensagem de erro apresentado no retorno."
        type: "string"
        example: "A solicitação da API é inválida ou foi formada incorretamente. Consequentemente, o servidor da API não pôde entender a solicitação."
  404:
    type: "object"
    properties:
      errorCode:
        description: "Código HTTP de retorno."
        type: "integer"
        example: 404
      errorMessage:
        description: "Mensagem de erro apresentado no retorno."
        type: "string"
        example: "A operação solicitada falhou porque um recurso associado à solicitação não pôde ser encontrado."